.Container {
    padding: 0 15px;
}

@media (min-width: 768px) {
    .Container {
        padding: 0 34px;
    }
}

@media (min-width: 1024px) {
    .Container {
        padding: 130px 100px 0 100px;
    }
}